@import url("https://fonts.googleapis.com/css?family=Archivo+Black|Heebo&display=swap");
/*
font-family: 'Heebo', sans-serif;
font-family: 'Archivo Black', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-weight: normal;
  scroll-behavior: smooth;
}

body {
  font-family: "Heebo", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url("../img/back.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body header img {
  margin: 0 5px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  max-height: 100vh;
  max-width: 100vw;
}

body nav {
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 15px -3px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 1px 15px -3px rgba(0, 0, 0, 0.75);
}

body nav navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav navlinks a {
  padding: 5px;
  margin: 0 5px;
  border-radius: 3px;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

body nav navlinks a:hover {
  background-color: lightblue;
}

body nav img {
  width: 32px;
  height: 32px;
}

body section {
  margin-top: 15px;
}

body section h1 {
  text-transform: uppercase;
  padding: 10px 0;
  background: orange;
  text-align: center;
}

body section content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

body section content div {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.85)), to(rgba(255, 255, 255, 0.85))), url("../img/back.svg");
  background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("../img/back.svg");
  background-repeat: no-repeat;
  background-size: 200%;
  border: 3px solid white;
  margin: 10px;
  padding: 10px;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  -webkit-box-shadow: 0px 1px 15px -3px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 1px 15px -3px rgba(0, 0, 0, 0.75);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

body section content div:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

body section content div ul {
  list-style: circle;
  margin-left: 30px;
}

body section a {
  margin: 10px;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

body section a:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

body section img {
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=styles.css.map */